#container {
  margin: 0 auto;
  width: 60%;
  text-align: center;

  #display {
    border: solid 1px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    min-height: 400px;
    &:hover {
      animation: spin 5s ease;
    }
  }
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
}
